@media screen and (max-width: 1439px) {
  #about section {
    width: 100%;
  }
}
@media screen and (max-width: 1340px) {
  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 1279px) {
  #about section {
    flex-direction: column;
  }
  #about #sc2 {
    flex-direction: column-reverse;
  }
  #about section img {
    width: 100%;
  }
  #about section div {
    width: 100%;
  }
  #about #sc1,
  #about #sc2,
  #about #sc3 {
    margin: 4vw 0;
  }
  #sc1 div:nth-of-type(1),
  #sc2 div:nth-of-type(2),
  #sc3 div:nth-of-type(1) {
    padding: 0 18vw;
  }
}
@media screen and (max-width: 1024px) {
  img,
  hr {
    width: 100%;
  }
  .main .card {
    width: 96%;
  }
  .main h2 {
    font-size: 3.125vw;
  }
  .main p {
    font-size: 2vw;
  }
}
@media screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ul,
  ol,
  blockquote,
  hr,
  #about #sc4 {
    /* вариант 1: ширина уже родителя + margin: 0 auto */
    /* width: 94%; */

    /* вариант 2: ширина 100% + отступы через padding */
    width: 100%;
    padding: 0 30px;
  }
  blockquote::before {
    left: 0;
  }
  #sc1 div:nth-of-type(1),
  #sc2 div:nth-of-type(2),
  #sc3 div:nth-of-type(1) {
    padding: 0 30px;
  }
  #sc4 h2,
  #sc4 p {
    text-align: left;
  }
  #about #sc4 {
    margin-bottom: 10vw;
  }
  .main .card {
    width: 100%;
  }
  .main .cardimg {
    height: 96vw;
  }
  /* .main section  {
    font-size: 3.125vw;
  }
  .main p {
    font-size: 2vw;
  } */
  nav.menubar {
    flex-direction: column;
    height: 80px;
    gap: 16px;
  }
  nav.menubar a {
    font-size: 21px;
  }
}
@media screen and (max-width: 500px) {
  .menubar {
    display: flex;
    flex-direction: column;
    height: 80px;
    gap: 16px;
  }
  .menubar a {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .main h2 {
    font-size: 7vw;
  }
  .main p {
    font-size: 5.2vw;
    line-height: 1.3;
  }
  .main .card {
    gap: 5vw;
  }
}
@media screen and (min-width: 1440px) {
  .main section {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 96vw;
    margin: 60px auto 0;
  }

  .main .card {
    width: 44vw;
  }
}
@media screen and (min-width: 1920px) {
  .main section {
    width: 1800px;
    justify-content: space-between;
  }

  .main .card {
    width: 30%;
  }
}
