* {
  box-sizing: border-box;
}
/* body p {
  margin: 52px;
}

h1 {
  font-size: 21px;
  margin-top: 80px;
}

h1 h2 h3 h4 h5 h6 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h2 h3 h4 h5 h6 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

p {
  font-size: 11px;
  line-height: 23px;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  line-height: 90px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

ul li {
  padding-right: 10px;
  margin-right: 10px;
}

ul li:not(:last-of-type) {
  border-right: 1px solid black;
} */

/* общие стили для страницы */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "PT Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
hr {
  width: 700px;
  margin: 0 auto;
}
img {
  width: 1024px;
  margin: 0 auto;
  display: block;
}

p,
ul,
ol,
blockquote {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}
h1 + hr + p {
  color: rgb(0, 0, 0, 0.4);
}
a {
  color: inherit;
}
h1 {
  margin: 50px auto;
  font-size: 38px;
  line-height: 45px;
}
h2 {
  margin-top: 40px;
  font-size: 32px;
  line-height: 36px;
}
h3 {
  margin-top: 36px;
  font-size: 28px;
  line-height: 32px;
}
h4 {
  margin-top: 32px;
  font-size: 24px;
  line-height: 28px;
}
h5 {
  margin-top: 28px;
  font-size: 22px;
  line-height: 24px;
}
hr {
  margin: 12px auto;
  width: 1024px;
}

h2 + p,
h3 + p,
h4 + p,
h5 + p {
  margin-top: 10px;
}
ul {
  list-style-type: disc;
  padding-left: 32px;
}

ol {
  list-style-type: decimal;
  padding-left: 32px;
}
li {
  margin: 10px auto;
}

blockquote {
  font-style: italic;
  position: relative;
}

blockquote::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: black;
  top: 0;
  left: -17px;
}

/* сайдбар */
.sidebar {
  width: 280px;
  position: fixed;
  top: 50px;
  left: 0;
  opacity: 0.3;
  transition: all ease 0.3s;
}
.sidebar:hover {
  opacity: 1;
  transition: all ease 0.6s;
}
.sidebar ol {
  width: 100%;
  font-size: 15px;
  line-height: 100%;
  margin: 10px 0;
  list-style-type: none;
  padding-left: 12px;
}
.sidebar ol ol {
  color: rgb(0, 0, 0, 0.4);
}
.sidebar il {
  font-size: inherit;
  margin: 6px 0;
}
.sidebar a {
  font-size: inherit;
  text-decoration: none;
}

/* стили для верхнего меню */
.menubar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.menubar img {
  width: 350px;
  margin: 0;
}
.menubar a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.4);
  transition: all ease 0.3s;
}
.menubar a:hover {
  transition: all ease 0.6s;
  color: black;
}

/* стили для абоут */
#about {
  overflow-x: hidden;
}
/* #about::after {
  content: "";
  background-image: url("../image/1440.png");
  width: 1440px;
  height: 3120px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  opacity: 0.2;
} */
#about section {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#about section div {
  width: 48%;
}

#about h2 {
  margin: 0;
  width: 100%;
  font-weight: normal;
  font-size: 38px;
  line-height: 46px;
}
#about p {
  margin: 20px 0;
  font-size: 28px;
  line-height: 38px;

  width: 100%;
}

#about #sc1 {
  margin-top: 88px;
}

#about #sc1 img {
  width: 1100px;
}
#sc1 div:nth-of-type(1) {
  padding: 40px 0 0 110px;
}

#sc2 img {
  width: 670px;
  padding-left: 20px;
}
#about #sc2 {
  margin-top: 88px;
}
#sc2 div:nth-of-type(2) {
  padding: 55px 20px 0 10px;
}
#about #sc3 {
  margin-top: 190px;
  border-bottom: 1px solid #eee;
}
#sc3 img {
  width: 1050px;
  margin: 10px 0 0 10px;
  border-left: 1px solid #eee;
}
#sc3 div:nth-of-type(1) {
  padding-left: 110px;
}
