* {
  box-sizing: border-box;
}
/* body p {
  margin: 52px;
}

h1 {
  font-size: 21px;
  margin-top: 80px;
}

h1 h2 h3 h4 h5 h6 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h2 h3 h4 h5 h6 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

p {
  font-size: 11px;
  line-height: 23px;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  line-height: 90px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

ul li {
  padding-right: 10px;
  margin-right: 10px;
}

ul li:not(:last-of-type) {
  border-right: 1px solid black;
} */

/* общие стили для страницы */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "PT Sans", sans-serif;
}
#article h1,
#article h2,
#article h3,
#article h4,
#article h5 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
}

#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6,
#article p,
#article ul,
#article ol,
#article blockquote,
#article hr {
  width: 700px;
  margin: 0 auto;
}
#article img {
  width: 1024px;
  margin: 0 auto;
  display: block;
}

#article p,
#article ul,
#article ol,
#article blockquote {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}
#article h1 + hr + p {
  color: rgb(0, 0, 0, 0.4);
}
#article a {
  color: inherit;
}
#article h1 {
  margin: 50px auto;
  font-size: 38px;
  line-height: 45px;
}
#article h2 {
  margin-top: 40px;
  font-size: 32px;
  line-height: 36px;
}
#article h3 {
  margin-top: 36px;
  font-size: 28px;
  line-height: 32px;
}
#article h4 {
  margin-top: 32px;
  font-size: 24px;
  line-height: 28px;
}
#article h5 {
  margin-top: 28px;
  font-size: 22px;
  line-height: 24px;
}
#article hr {
  margin: 12px auto;
  width: 1024px;
}

#article h2 + p,
#article h3 + p,
#article h4 + p,
#article h5 + p {
  margin-top: 10px;
}
#article ul {
  list-style-type: disc;
  padding-left: 32px;
}

#article ol {
  list-style-type: decimal;
  padding-left: 32px;
}
#article li {
  margin: 10px auto;
}

#article blockquote {
  font-style: italic;
  position: relative;
}

#article blockquote::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: black;
  top: 0;
  left: -17px;
}

/* сайдбар */

.sidebar {
  width: 280px;
  position: fixed;
  top: 50px;
  left: 0;
  opacity: 0.3;
  transition: all ease 0.3s;
}
.sidebar:hover {
  opacity: 1;
  transition: all ease 0.6s;
}
#article .sidebar ol,
.sidebar ol {
  width: 100%;
  font-size: 15px;
  line-height: 100%;
  margin: 10px 0;
  list-style-type: none;
  padding-left: 12px;
}
.sidebar ol ol {
  color: rgb(0, 0, 0, 0.4);
}
.sidebar il {
  font-size: inherit;
  margin: 6px 0;
}
.sidebar a {
  font-size: inherit;
  text-decoration: none;
}

/* стили для верхнего меню */
#article .menubar img,
.menubar img {
  width: 250px;
  margin: 0;
}
.menubar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 #000;
}
.menubar img {
  width: 350px;
  margin: 0;
}
.menubar a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.4);
  transition: all ease 0.3s;
}
.menubar a:hover {
  transition: all ease 0.6s;
  color: black;
}

/* стили для абоут */
#about {
  overflow-x: hidden;
}
/* #about::after {
  content: "";
  background-image: url("../image/1440.png");
  width: 1440px;
  height: 3120px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  opacity: 0.2;
} */
#about section {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#about section div {
  width: 48%;
}

#about h2 {
  margin: 0;
  width: 100%;
  font-weight: normal;
  font-size: 38px;
  line-height: 46px;
}
#about p {
  margin: 20px 0;
  font-size: 28px;
  line-height: 38px;

  width: 100%;
}

#about #sc1 {
  margin-top: 88px;
}

#about #sc1 img {
  width: 1100px;
}
#sc1 div:nth-of-type(1) {
  padding: 40px 0 0 110px;
}

#sc2 img {
  width: 670px;
  padding-left: 20px;
}
#about #sc2 {
  margin-top: 88px;
}
#sc2 div:nth-of-type(2) {
  padding: 55px 20px 0 10px;
}
#about #sc3 {
  margin-top: 190px;
  border-bottom: 1px solid #eee;
}
#sc3 img {
  width: 1050px;
  margin: 10px 0 0 10px;
  border-left: 1px solid #eee;
}
#sc3 div:nth-of-type(1) {
  padding-left: 110px;
}

#about #sc4 {
  flex-direction: column;
  width: 700px;
  align-items: center;
  padding: 120px 0;
}
#sc4 h2,
#sc4 p {
  text-align: center;
}
#about #sc4 div {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
#sc4 a {
  text-decoration: none;
  border: 1px solid gray;
  color: gray;
  border-radius: 4px;
  padding: 18px 36px;
  transition: all ease 0.2s;
}
#sc4 a:hover {
  border: 1px solid rgb(0, 0, 0);
  color: black;
  transition: all ease 0.5s;
}
#sc4 a:nth-of-type(2) {
  color: #eee;
  background-color: rgb(46, 43, 43);
  border: 1px solid rgb(46, 43, 43);
}
#sc4 a:nth-of-type(2):hover {
  background-color: black;
  border: 1px solid black;
}

/* главная страница с карточками */
.main {
  background-color: #eee;
}

.main .card {
  display: flex;
  flex-direction: column;
  gap: 1.6vw;
  background-color: #fff;
  width: 54vw;
  padding: 1.6vw;
  text-decoration: none;
  color: #000000;
}
.main section {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
  padding-bottom: 2vw;
}
.main h2 {
  font-size: 1.8vw;
  font-weight: bold;
}
.main p {
  font-size: 1.25vw;
}
.main .cardimg {
  width: 100%;
  height: 15.6vw;
  background-image: url("../image/narkomfin.jpg");
  background-size: cover;
  background-color: #fff;
  /* background-repeat: no-repeat; */
}
